<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/coursera_icon"
        android:label="Coursera"
        android:roundIcon="@drawable/coursera_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".SigninActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ProductActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ProductDetailActivity"
            android:exported="true">
        </activity>

        <activity android:name=".ScanActivity" />
        <activity
            android:name=".AIActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".CaptureAct"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


    </application>

</manifest>